
body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.image {
    width: 45%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

button {
    width: 50%;
    margin-right: 80px;
}

#idbalde{

width: 500px;
height: 500px;


}
.thumbnail:hover {
    transform: scale(1.1, 1.1);
}

.thumbnail:active{

    transform: scale(0.9, 0.9);

}

#menu{

position: absolute;
top: 0px;
right:  0px;
width: 700px;

padding: 20px;

border-bottom-left-radius: 20px;


box-shadow: rgba(0, 0, 0, 0.555) 4px 4px 4px; 

background-color: rgb(220, 220, 220);

}


#question{

height: 50px;
width: 50px;
float: right;
padding-right: 10px;

cursor:  pointer;

}

#ajuda{

    
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgb(255, 255, 255);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);

}




#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }

.titulo {
    background-color: rgb(125, 125, 170);
    padding: 8px 20px;
    border-radius: 12px 0px 0px 12px;
    text-align: right;
    color: rgb(255, 255, 255);
}

button{
    height: 50px;
    padding: 0px 18px;
    margin-bottom: 4px;
    border-radius: 6px;
    background-color: rgb(180, 155, 155);
    color: rgb(255, 255, 255);
    border: none;
    font-weight: bold;
    font-size: 18px;
}